@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', cursive;
}
