<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Covoiturage{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    {% block styles %}
    {% endblock %}
</head>

<body class="h-screen flex flex-col">
    <header class="fixed top-0 w-full">
        <nav class="px-4 py-3 rounded-full m-5 bg-white border border-gray-200 shadow-lg">
            <ul class="flex justify-center items-center gap-8">
                <li><a href="{{ url_for('main.index') }}"
                        class="text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200 {% if request.endpoint == 'main.index' %}underline{% endif %}">Accueil</a>
                </li>
                <li><a href="{{ url_for('main.sign_up') }}"
                        class="text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200 {% if request.endpoint == 'main.sign_up' %}underline{% endif %}">Inscription</a>
                </li>
                <li><a href="{{ url_for('main.login') }}"
                        class="text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200 {% if request.endpoint == 'main.login' %}underline{% endif %}">Connexion</a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{{ url_for('main.logout') }}"
                        class="text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200">Déconnexion</a>
                </li>
                {% endif %}
                {% if user.is_admin %}
                <li><a href="{{ url_for('admin.admin_index') }}"
                        class="text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200 {% if request.endpoint == 'admin.admin_index' %}underline{% endif %}">Administration</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>

</html>