{% macro logout_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
{% endmacro %}

{% macro user_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round-icon lucide-circle-user-round"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
{% endmacro %}

{% macro edit_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-pen-icon lucide-square-pen"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/></svg>
{% endmacro %}

{% macro trash_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash"><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg>
{% endmacro %}

{% macro nav_link(endpoint, label) %}
<li>
    <a href="{{ url_for(endpoint) }}"
        class="text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200 {% if request.endpoint == endpoint %}underline{% endif %}">{{ label }}</a>
</li>
{% endmacro %}

{% macro logo() %}
<img src="{{ url_for('static', filename='media/logo.svg') }}" alt="Logo">
{% endmacro %}

{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="w-full rounded-lg p-2 my-4 text-center alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}

{% macro ride_field(label, value) %}
<div class="flex flex-col">
    <span>{{ label }}</span>
    <span class="text-black">{{ value }}</span>
</div>
{% endmacro %}

{% macro ride(item) %}
<article class="bg-[oklch(96.7%_0.003_264.542)] shadow-md rounded-lg p-4 md:flex md:items-center gap-4 mb-6">
    <div class="flex items-center justify-center w-20 h-20 bg-indigo-50 text-indigo-700 rounded-lg flex-col">
        <span class="text-xs">{{ item.get_month() }}</span>
        <span class="text-2xl font-bold">{{ item.get_day() }}</span>
        <span class="text-xs">{{ item.get_year() }}</span>
    </div>

    <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 gap-3 px-2">
        <div>
            <div class="text-sm text-slate-500">Chauffeur</div>
            <div class="font-medium text-slate-900">{{ item.driver.to_str() }}</div>
        </div>

        <div>
            <div class="text-sm text-slate-500">Places disponibles</div>
            <div class="font-medium text-slate-900">{{ item.seats }}</div>
        </div>

        <div>
            <div class="text-sm text-slate-500">Départ</div>
            <div class="font-medium text-slate-900">{{ item.start_location.name }} — <span class="text-sm text-slate-600">{{ item.get_departure_time() }}</span></div>
        </div>

        <div>
            <div class="text-sm text-slate-500">Arrivée</div>
            <div class="font-medium text-slate-900">{{ item.end_location.name }} — <span class="text-sm text-slate-600">{{ item.get_arrival_time() }}</span></div>
        </div>
    </div>

    <div class="flex flex-col items-end gap-2">
       <button 
    class="bg-indigo-600 text-white font-medium px-4 py-2 rounded-md hover:bg-indigo-700 transition-colors shadow-sm btn-view-passengers" 
    data-ride-id="{{ item.id }}">
    Voir passagers
</button>
    </div>
</article>
{% endmacro %}
